@charset "utf-8";
/* CSS Document */

:root {
  --white: #fff;
  --eggshell: #ccc;
}

/* #region General Styles */

body, td, th, p {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  width: 100vw;
  margin: 0 auto;
  position: relative;

  /* for desktop versions */
  box-shadow: 0 0 16px 3px #928d8d;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

ul, li {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

/* a:hover, a:focus {
  color: #3397db;
} */

a img {
  border: none 0px var(--white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, hgroup, menu, nav, section {
  display: block;
}

header {
  width: 100%;
  display: flex;
  height: 80px;
  align-items: center;
  background-color: #252831;
  box-shadow: 0 5px 4px -4px black;
  z-index: 1;
}

#maincontent {
  width: 100%;
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  width: 100%;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;

  background-color: #444;
  color: #dbdbdb;
  font-size: .6rem;
  letter-spacing: 2px;
  
  text-align: center;
  text-transform: uppercase;
}

/* From W3.org https://www.w3.org/WAI/tutorials/forms/labels/#using-aria-labelledby */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  font-size: .7em;
}

.visuallyhidden:focus {
  position: initial;
  border: initial;
  clip: initial;
  height: initial;
  margin: initial;
  overflow: initial;
  padding: initial;
  width: initial;
}

/* #endregion */

/* #region Navigation Styles */

nav {
  width: 100%;
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-left: 5px;
}

nav h1 a:focus {
  color: rgb(255, 115, 0);;
}

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  width: calc(50% - 80px);
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* #endregion */

/* ====================== Map ====================== */

#map {
  height: 40vh;
  width: 100%;
  background-color: var(--eggshell);
}

/* #region Restaurant Filtering Styles */

.filter-options {
  font-family: 'Roboto', sans-serif;
  display: flex;
  /* flex-flow: column nowrap; */
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  /* height: 100px; */
  background-color: rgb(0, 125, 187);
}

.filter-options h2 {
  color: var(--white);
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 1;
  margin: 5px 0 0 0 ;

  flex-basis: 100%;
  text-align: center;
  
}

.filter-options select {
  background-color: var(--white);
  font-size: 1rem;
  height: 1.7em;
  letter-spacing: 0;
  margin: 8px;
  padding: 0 10px;
  flex-basis: 90%;
  min-width: 90%;

  background: #f1f1f1 linear-gradient(hsla(0, 0%, 100%, .2), transparent);
  border: 1px solid rgba(0, 0, 0, 0.014);
  box-shadow: 0 .05em .7em rgba(0, 0, 0, 0.5);
}

.filter-options select:last-child {
  /* margin-right: 3em; */
  margin-top: 2px;
}

.filter-options select:focus {
  border-color: rgb(255, 115, 0);
  box-shadow: 0 0 1em 2px rgba(255, 115, 0, 0.842);
}

/* #endregion */

/* #region Restaurant Listing */ 

#restaurants-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0 auto;
  padding: 10px 5px 60px;
  text-align: center;
}

#restaurants-list li {
  background-color: var(--white);
  box-sizing: border-box;
  box-shadow: 0 0 8px 1px #928d8d;

  border-radius: 0px;
  border-top-left-radius: 20px;

  display: flex;
  flex-flow: column nowrap;
  font-family: 'Roboto', sans-serif;
  margin: .5em;
  /* min-height: 400px; */
  padding: .5em;
  /* max-width: 100%; */
  flex-basis: 100%;
  text-align: left;
}

#restaurants-list .restaurant-img {
  background-color: var(--eggshell);
  box-shadow: 0 0 8px 1px #928d8d;
  border-top-left-radius: 10px;
  display: block;
  margin: 0;
  width: 100%;
}

#restaurants-list li h1 {
  /* color: #f18200; */
  /* font-family: Arial, sans-serif; */
  align-self: center;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.3;
  margin: .25em 0 .25em 0;
}

#restaurants-list p {
  margin: 0;
  font-size: 1.1em;
}

#restaurants-list p:last-of-type {
  font-size: .9em;
  color: hsla(0, 0%, 0%, 0.61);
}

#restaurants-list li a {

  /* Previous color  */
  background: rgb(255, 165, 0);

  /* Dif color and better contrast ratio */
  background: rgb(0, 125, 187);

  border: 1px solid rgba(0, 0, 0, 0.014);
  box-shadow: 0 .05em .25em rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: var(--white);
  
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 -.05em 0.05em rgba(0, 0, 0, 0.5);
  
  /* display: inline-block; */
  margin: 5px 0 0;
  padding: .95rem 1.8rem .6rem;
}

#restaurants-list li a:hover {
  text-shadow: 0 -.05em 0.05em rgba(0, 0, 0, 0.5);
  background: rgba(0, 125, 187, 0.795);
  border: 1px solid rgba(0, 0, 0, 0.164);
  box-shadow: 0 .05em .25em rgba(0, 0, 0, 0.603);
}

#restaurants-list li a:focus{
  background: rgba(54, 59, 61, 0.795);
  border-color: rgb(255, 115, 0);
  box-shadow: 0 0 1em 0px rgba(255, 115, 0, 0.842);
}

/* #endregion */

/* #region Restaurant Details */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}

.inside #map {
  background-color: var(--eggshell);
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
}

#restaurant-name {
  color: #f18200;
  font-family: 'Roboto', sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 90%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid var(--white);
  padding: 140px 40px 30px;
  width: 50%;
}

#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: var(--white);
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}

/* #endregion */

/* #region Mediaqueries */


/* MIGHT REMOVE AS WORKING MOBILE FIRST */
@media screen and (max-width: 640px) {
  body {
    /* background-color: yellow; */
  }
} 

@media screen and (min-width: 768px) and (max-width: 960px) {
  body {
    width: 96vw;
    margin: 0 auto;
  }
  body, td, th, p, ul, li {
    font-size: 1.2rem;
  }
  #restaurants-list li {
    flex-basis: calc((100% / 2 ) - 1em)
  }
  #restaurants-list li h1{
    font-size: 1.2em;
  }
  #restaurants-list li a {
    align-self: center;
    width: 80%;
    font-size: .8em;
  }
  .filter-options h2 {
    font-size: 1.7rem;
  }  
  .filter-options select {
    flex-basis: calc((100% / 2 ) - 1em);
    min-width: 47%;
    margin: .5em;
  }
  .filter-options select:last-child {
    margin-top: 8px;
  }
} 

@media screen and (min-width: 961px) and (max-width: 1280px) {
  body {
    /* background-color: red; */
    width: 90vw;
    margin: 0 auto;
  }
  #restaurants-list li {
    flex-basis: calc((100% / 3 ) - 1em)
} 
  #restaurants-list li h1{
    font-size: 1.2em;
  }
  .filter-options h2 {
    font-size: 1.7rem;
  }  
  .filter-options select {
    flex-basis: calc((100% / 2 ) - 1em);
    min-width: 47%;
    margin: .5em;
  }
  .filter-options select:last-child {
    margin-top: 8px;
  }

} 

@media screen and (min-width: 1281px) {
  body {
    /* background-color: blue; */
    width: 90vw;
    margin: 0 auto;
  }
  #map {
    height: 35vh;
  }
  #restaurants-list li {
    flex-basis: calc((100% / 5 ) - 1em)
  }
  #restaurants-list li h1{
    font-size: 1.05em;
  }
  #restaurants-list p {
    margin: 0;
    font-size: .9em;
  }
  #restaurants-list p:last-of-type {
    font-size: .714em;
  }
  #restaurants-list li a {
    align-self: center;
    width: 80%;
    font-size: .8em;
    padding: 0.25rem 0rem 0.2rem;
  }
  .filter-options {
    justify-content: flex-start;
  }
  .filter-options h2 {
    flex-basis: auto;
    padding-left: 15px;
    text-align: left;
    font-size: .9rem;
  }  
  .filter-options select {
    flex-basis: 15%;
    min-width: 15%;
    margin: .5em;
  }
  .filter-options select:last-child {
    margin-top: 8px;
  }
}

@media screen and (min-width: 1440px) {
  #restaurants-list p:last-of-type {
    font-size: .8em;
  }
}
