/* #region Navigation Layout */

nav {
  width: 100%;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  padding-left: 5px;
}

header > nav {
  height: 65%;
  display: flex;
}

#breadcrumb {
  padding: 10px 40px 16px;
  margin: 0;
  width: 100%;
  height: 35%;
  box-sizing: border-box;
}

#breadcrumb li {
  display: inline;
}

#breadcrumb li+li:before {
  padding: 8px;
}

/* #endregion */

/* #region Restaurant Filtering Layout */

.filter-options {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.filter-options h2 {
  margin: 5px 0 0 0;
  flex-basis: 100%;
  text-align: center;
}

.filter-options select {
  height: 1.7em;
  letter-spacing: 0;
  margin: 8px;
  padding: 0 10px;
  flex-basis: 90%;
  min-width: 90%;
}

.filter-options select:last-child {
  margin-top: 2px;
}

/* #endregion */

/* #region Restaurant Listing Layout */ 

#restaurants-list {
  margin: 0 auto;
  padding: 10px 5px 60px;
  display: grid;
  grid-template-columns: 1fr;
}

#restaurants-list li {
  box-sizing: border-box;
  margin: .5em;
  padding: .5em;
  text-align: left;
  display: grid;
  grid-template-areas: 
  'resImage resImage resImage'
  'resH2 resH2 resH2'
  'resCity resCity resCity'
  'resAddress resAddress resAddress'
  'resButton resButton resFavorite';
  grid-gap: .2em;
}

#restaurants-list .restaurant-img {
  display: block;
  margin: 0;
  width: 100%;
  grid-area: resImage;
}

#restaurants-list li h2 {
  text-align: center;
  margin: .25em 0 .25em 0;
  grid-area: resH2;
}

#restaurants-list p {
  margin: 0;
  grid-area: resCity;
}

button.favBtn {
  margin: 5px 0 0;
  grid-area: resFavorite;
}

#restaurants-list p:last-of-type {
  grid-area: resAddress;
}

#restaurants-list li a {
  margin: 5px 0 0;
  padding: .95rem 1.8rem .6rem;
  grid-area: resButton;
}


/* #endregion */

/* #region Restaurant Details Layout */

.inside header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 7.5em;
  width: 100%;
  overflow: hidden;
  display: block;
}

.restaurant-view {
  padding-top: 7.5em;
  display: grid;
  grid-template-areas: 
  "map map"
  "info info"
  "review review"
  "form form";
  grid-gap: 1em;
}

#map-container {
  grid-area: map;
}

#restaurant-container {
  grid-area: info;
}

#reviews-container {
  grid-area: review;
  padding-bottom: 5em;
}

#review-form-container {
  grid-area: form;
}

.inside #map-container {
  height: 30vh;
  width: 100%;
  right: 0;
  top: 80px;
}

.inside #map {
  height: 100%;
  width: 100%;
}

#restaurant-name {
  margin: .5em 0 .5em;
}

#restaurant-img {
  width: 100%;
}

#restaurant-address {
  padding-left: .5em;
  margin: 10px 0px 10px 0px;
}

#restaurant-cuisine {
  margin: 0 0 10px;
  padding: 2px 0;
  width: 100%;
}

#restaurant-container, #reviews-container {
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

#reviews-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#reviews-list li {
  display: block;
  margin: 0 0 30px;
  position: relative;
  width: 90%;
  display: flex;
  flex-flow: row wrap;
}

#reviews-list li p:nth-child(-n+2) {
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 15px;
  margin: 0;
}

#reviews-list li p:nth-child(3) {
  padding: 5px;
  margin: 10px 20px 10px 20px;
}

#reviews-list li p:last-child {
  flex-basis: 100%;
  padding: 0 20px 20px;
}

#reviews-list li p {
  margin: 0 0 10px;
}

/* #endregion */

/* #region Restaurant Hours Layout */

table#restaurant-hours {
  align-self: center;
  border-collapse: collapse;
  width: 98%;
}

#restaurant-hours td {
  vertical-align: middle;
}

/* #endregion */






section {
  border: 1px solid red;
}