@charset "utf-8";
/* CSS Document */

:root {
  --white: rgb(252, 252, 252);
  --eggshell: #ccc;
}

/* ====================== Map ====================== */

#map {
  height: 40vh;
  width: 100%;
  background-color: var(--eggshell);
}

/* #region blur-up Styles */

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 500ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

/* #endregion */

/* #region Navigation Styles */

nav {
  text-align: center;
}

nav h1 a {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

nav h1 a:focus {
  color: rgb(255, 115, 0);
}

#breadcrumb {
  list-style: none;
  background-color: #eee;
  font-size: 17px;
}

#breadcrumb li+li:before {
  color: black;
  content: "/\00a0";
}

#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* #endregion */

/* #region Restaurant Filtering Styles */

.filter-options {
  background-color: rgb(0, 125, 187);
  font-family: 'Roboto', sans-serif;
}

.filter-options h2 {
  color: var(--white);
  line-height: 1;
  letter-spacing: 0.5px;
  font-weight: normal;
  font-size: 1rem;
}

.filter-options select {
  background-color: var(--white);
  background: #f1f1f1 linear-gradient(hsla(0, 0%, 100%, .2), transparent);
  border: 1px solid rgba(0, 0, 0, 0.014);
  box-shadow: 0 .05em .7em rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}

.filter-options select:focus {
  border-color: rgb(255, 115, 0);
  box-shadow: 0 0 1em 2px rgba(255, 115, 0, 0.842);
}

/* #endregion */

/* #region Restaurant Listing Styles */ 

#restaurants-list {
  justify-content: flex-start;
  background-color: #f3f3f3;
  list-style: outside none none;
  text-align: center;
}

#restaurants-list li {
  background-color: var(--white);
  border-radius: 0px;
  border-top-left-radius: 20px;
  box-shadow: 0 0 8px 1px rgb(146, 141, 141);
  font-family: 'Roboto', sans-serif;
}

#restaurants-list .restaurant-img {
  background-color: var(--eggshell);
  box-shadow: 0 0 8px 1px rgb(146, 141, 141);
  border-top-left-radius: 10px;
}

#restaurants-list li h1 {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.3;
}

#restaurants-list p {
  font-size: 1.1em;
}

#restaurants-list p:last-of-type {
  font-size: .9em;
  color: hsla(0, 0%, 0%, 0.61);
}

#restaurants-list li a, button {
  background: rgb(0, 125, 187);
  border: 1px solid rgba(0, 0, 0, 0.014);
  box-shadow: 0 .05em .25em rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: var(--white);
  font-size: 1.1em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 -.05em 0.05em rgba(0, 0, 0, 0.5);
}

#restaurants-list li a:hover {
  text-shadow: 0 -.05em 0.05em rgba(0, 0, 0, 0.5);
  background: rgba(0, 125, 187, 0.795);
  border: 1px solid rgba(0, 0, 0, 0.164);
  box-shadow: 0 .05em .25em rgba(0, 0, 0, 0.603);
}

#restaurants-list li a:focus{
  background: rgba(54, 59, 61, 0.795);
  border-color: rgb(255, 115, 0);
  box-shadow: 0 0 1em 0px rgba(255, 115, 0, 0.842);
}

button.favBtn {
  box-sizing: border-box;
  color: var(--white);
  background: rgb(0, 125, 187);
  font-style: normal;
  text-align: center;
}

button.favBtn:hover {
  color: rgb(196, 103, 103);
  text-shadow: 0 -.05em 0.05em rgba(0, 0, 0, 0.5);
  background: rgba(0, 125, 187, 0.795);
  border: 1px solid rgba(0, 0, 0, 0.164);
  box-shadow: 0 .05em .25em rgba(0, 0, 0, 0.603);
}

button.favBtn:focus{
  /* color: rgb(255, 0, 0); */
  background: rgba(2, 149, 223, 0.89);
  border-color: rgb(255, 115, 0);
  box-shadow: 0 0 1em 0px rgba(255, 115, 0, 0.842);
}

button.favBtnSelected {
  color: rgb(255, 0, 0);
}

/* #endregion */

/* #region Restaurant Details Styles */

.inside header {
  box-shadow: none;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  border-bottom: 1px solid var(--white);
}

.inside #map {
  background-color: var(--eggshell);
}

#restaurant-name {
  color: #f18200;
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
}

#restaurant-img {
  border-top: 1px solid var(--white);
}

#restaurant-address {
  font-size: 1.1rem;
}

#restaurant-cuisine {
  background-color: #333;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

#reviews-list {
  justify-content: center;
}

#reviews-list li {
  background-color: var(--white);
  border: 2px solid #f3f3f3;
  border-top-left-radius: 20px;
  list-style-type: none;
  overflow: hidden;
}

#reviews-list li p:nth-child(-n+2) {
  color: var(--white);
  font-size: 1.2rem;
  background: #252831;
}

#reviews-list li p:nth-child(2) {
  font-size: 0.85rem;
  color: #d8d8d8;
  text-align: end;
}

#reviews-list li p:nth-child(3) {
  background: #ffa500;
  color: var(--white);
  text-transform: uppercase;
  border-radius: 3px;
}

#reviews-list li p:last-child {
  flex-basis: 100%;
  padding: 0 20px 20px;
}

/* #endregion */

/* #region Restaurant Hours Styles */

table#restaurant-hours td, table#restaurant-hours th {
  border: 1px solid rgb(221, 221, 221);
}

table#restaurant-hours tr:nth-of-type(even) {
  background-color: rgb(216, 216, 216);
  color: var(--white);
}

table#restaurant-hours tr:hover {
  background-color: rgb(180, 180, 180);
  color: var(--white);
}

/* #endregion */

/* #region Restaurant Review Form Styles */

#review-form-container {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  font-family: Roboto,sans-serif;
  
  padding: 1em;
}

.form-header {
  margin: 0;
}

form#review-form {
  display: grid;
}

label {
  display: block;
  line-height: 1.5;
  padding-top: .7em;
}

.form-control, select {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  font-family: Roboto,sans-serif;
}

div.form-group, .rating-container {
  width: 100%;
}

button.submit-button {
  box-sizing: border-box;
  color: var(--white);
  background: rgb(0, 125, 187);
  font-style: normal;
  text-align: center;

  height: 3em;
  width: 100%;
}

button.submit-button:hover {
  color: rgb(224, 224, 224);
  text-shadow: 0 -.05em 0.05em rgba(0, 0, 0, 0.5);
  background: rgba(0, 125, 187, 0.795);
  border: 1px solid rgba(0, 0, 0, 0.164);
  box-shadow: 0 .05em .25em rgba(0, 0, 0, 0.603);
}

button.submit-button:focus{
  background: rgba(2, 149, 223, 0.89);
  border-color: rgb(255, 115, 0);
  box-shadow: 0 0 1em 0px rgba(255, 115, 0, 0.842);
}

/* #endregion */

/* #region Mediaqueries */

@media screen and (min-width: 200px) and (max-width: 768px) {
  #map {
    height: 45vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  body, .inside header {
    width: 97vw;
    margin: 0 auto;
  }

  body, td, th, p, ul, li {
    font-size: 1.2rem;
  }

  #restaurants-list {
    grid-template-columns: repeat(3, 1fr);
  }

  #restaurants-list li h1{
    font-size: 1.2em;
  }

  #restaurants-list li a {
    font-size: .8em;
  }

  .filter-options h2 {
    font-size: 1.7rem;
  }

  .filter-options select {
    flex-basis: calc((100% / 2 ) - 1em);
    min-width: 47%;
    margin: .5em;
  }

  .filter-options select:last-child {
    margin-top: 8px;
  }

  #restaurant-address {
    padding-left: 2em;
  }

  #reviews-container {
    padding-bottom: 5em;
    width: 95%;
    margin: 0 auto;
  }

} 

@media screen and (min-width: 961px) and (max-width: 1280px) {
  body , .inside header {
    width: 90vw;
    margin: 0 auto;
  }

  #restaurants-list {
    grid-template-columns: repeat(4, 1fr);
  }

  #restaurants-list li {
    flex-basis: calc((100% / 3 ) - 1em)
  }

  #restaurants-list li h1{
    font-size: 1.2em;
  }

  .filter-options h2 {
    font-size: 1.7rem;
  }

  .filter-options select {
    flex-basis: calc((100% / 2 ) - 1em);
    min-width: 47%;
    margin: .5em;
  }

  .filter-options select:last-child {
    margin-top: 8px;
  }

  #restaurant-address {
    padding-left: 2em;
  }

  table#restaurant-hours {
    width: 100%;
  }

  .restaurant-view#maincontent {
    grid-template-areas: 
    "map map"
    "info review"
    "info review"
    "info form";
    grid-template-columns: 1fr 1fr;
  }

  #restaurant-container, #reviews-container {
    margin-top: 1em;
  }

  #reviews-container {
    padding-bottom: 5em;
    width: 98%;
    box-shadow: 0 0 20px 0 rgba(72,94,116,.7);
    padding: 1em;
  }

  #review-form-container {
    width: 98%;
  }

} 

@media screen and (min-width: 1281px) {
  body {
    width: 81vw;
    margin: 0 auto;
  }
  #map {
    height: 35vh;
  }

  #restaurants-list {
    grid-template-columns: repeat(5, 1fr);
  }

  #restaurants-list li {
    flex-basis: calc((100% / 5 ) - 1em)
  }

  #restaurants-list li h1{
    font-size: 1.05em;
  }

  #restaurants-list p {
    margin: 0;
    font-size: .9em;
  }

  #restaurants-list p:last-of-type {
    font-size: .714em;
  }

  #restaurants-list li a {
    font-size: .8em;
    padding: 0.25rem 0rem 0.2rem;
  }

  .filter-options {
    justify-content: flex-start;
  }

  .filter-options h2 {
    flex-basis: auto;
    padding-left: 15px;
    text-align: left;
    font-size: .9rem;
  }  

  .filter-options select {
    flex-basis: 15%;
    min-width: 15%;
    margin: .5em;
  }

  .filter-options select:last-child {
    margin-top: 8px;
  }

  #restaurant-address {
    padding-left: 2em;
  }

  table#restaurant-hours {
    width: 100%;
    margin-bottom: 15px;
  }

  .restaurant-view#maincontent {
    grid-template-areas: 
    "map map"
    "info review"
    "info review"
    "info form";
    grid-template-columns: 1fr 1fr;
  }

  #restaurant-container, #reviews-container {
    margin-top: 1em;
    margin-left: 10px;
  }

  #reviews-container {
    padding-bottom: 5em;
    width: 98%;
    box-shadow: 0 0 20px 0 rgba(72,94,116,.7);
    padding: 1em;
  }

  #review-form-container {
    width: 98%;
  }
  
}

@media screen and (min-width: 1440px) {
  #restaurants-list p:last-of-type {
    font-size: .8em;
  }
}
    
/* #endregion */
